In [1]:
my_favorite_color="blue"

In [2]:
my_favorite_color

'blue'

###
A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator = followed by the value to be stored within the variable. Note that the assignment operator = is different from the equality comparison operator ==.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [3]:
color1,color2,color3="red","green","blue"

In [5]:
color1

'red'

In [6]:
color2

'green'

In [7]:
color3

'blue'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [8]:
color4=color5=color6="Magenta"

In [9]:
color4

'Magenta'

In [10]:
color5

'Magenta'

In [11]:
color6

'Magenta'

You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [12]:
my_favorite_color="red"

In [13]:
my_favorite_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [14]:
counter=10

In [15]:
counter=counter+1

In [16]:
counter

11

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [17]:
counter=10

In [18]:
counter+=4   #Just like counter=counter+4

In [19]:
counter

14

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [20]:
a_variable = 23
is_today_saturday = False
my_favorite_car = "Mercedes"
the_3_musketeers = ["Athos" ,"Porthos" ,"Aramis"]

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [21]:
a variable=23

SyntaxError: invalid syntax (3435034236.py, line 1)

In [22]:
is_today_$aturday=False

SyntaxError: invalid syntax (4115463781.py, line 1)

In [23]:
my-favorite-car="Deloran"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1798234066.py, line 1)

In [24]:
3_muskteers=["Athos" ,"Porthos" ,"Aramis"]

SyntaxError: invalid decimal literal (1550770998.py, line 1)

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [26]:
a_variable

23

In [27]:
type(a_variable)

int

In [29]:
is_today_saturday

False

In [30]:
type(is_today_saturday)

bool

In [31]:
my_favorite_car

'Mercedes'

In [32]:
type(my_favorite_car)

str

In [34]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [36]:
type(the_3_musketeers)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [ ]:
current_year=2020