## Branching with `if`, `else` and `elif`

One of the most powerful features of programming languages is *branching*: the ability to make decisions and execute a different set of statements based on whether one or more conditions are true.

### The `if` statement

In Python, branching is implemented using the `if` statement, which is written as follows:

```
if condition:
    statement1
    statement2
```

The `condition` can be a value, variable or expression. If the condition evaluates to `True`, then the statements within the *`if` block* are executed. Notice the four spaces before `statement1`, `statement2`, etc. The spaces inform Python that these statements are associated with the `if` statement above. This technique of structuring code by adding spaces is called *indentation*.

> **Indentation**: Python relies heavily on *indentation* (white space before a statement) to define code structure. This makes Python code easy to read and understand. You can run into problems if you don't use indentation properly. Indent your code by placing the cursor at the start of the line and pressing the `Tab` key once to add 4 spaces. Pressing `Tab` again will indent the code further by 4 more spaces, and press `Shift+Tab` will reduce the indentation by 4 spaces. 


For example, let's write some code to check and print a message if a given number is even.

In [1]:
a_number=34

In [2]:
if a_number % 2 == 0:
    print("We 're inside an if block")
    print("The given number {} is even.".format(a_number))

We 're inside an if block
The given number 34 is even.

We use the modulus operator `%` to calculate the remainder from the division of `a_number` by `2`. Then, we use the comparison operator `==` check if the remainder is `0`, which tells us whether the number is even, i.e., divisible by 2.

Since `34` is divisible by `2`, the expression `a_number % 2 == 0` evaluates to `True`, so the `print` statement under the `if` statement is executed. Also, note that we are using the string `format` method to include the number within the message.

Let's try the above again with an odd number.

In [3]:
another_number = 33

In [4]:
if another_number % 2 == 0:
    print("Given number {} is even .".format(another_number))

As expected, since the condition `another_number % 2 == 0` evaluates to `False`, no message is printed. 

### The `else` statement

We may want to print a different message if the number is not even in the above example. This can be done by adding the `else` statement. It is written as follows:

```
if condition:
    statement1
    statement2
else:
    statement4
    statement5

```

If `condition` evaluates to `True`, the statements in the `if` block are executed. If it evaluates to `False`, the statements in the `else` block are executed.

In [5]:
another_number

33

In [6]:
if another_number % 2 == 0:
    print("Given number {} is even .".format(another_number))
else:
    print("Given number {} is odd .".format(another_number))

Given number 33 is odd .

Here's another example, which uses the `in` operator to check membership within a tuple.

In [7]:
the_3_muskteers = ('Athos' ,'Porthos' ,'Aramis')

In [8]:
the_3_muskteers

('Athos', 'Porthos', 'Aramis')

In [9]:
a_candidate = 'Larry'

In [10]:
if a_candidate in the_3_muskteers:
    print("{} is a muskteer.".format(a_candidate))
else:
    print("{} is not a muskteer.".format(a_candidate))

Larry is not a muskteer.

### The `elif` statement

Python also provides an `elif` statement (short for "else if") to chain a series of conditional blocks. The conditions are evaluated one by one. For the first condition that evaluates to `True`, the block of statements below it is executed. The remaining conditions and statements are not evaluated. So, in an `if`, `elif`, `elif`... chain, at most one block of statements is executed, the one corresponding to the first condition that evaluates to `True`.

In [11]:

today = "Wednesday"

In [12]:
if today == 'Sunday':
    print("Today is sunday I have to rest")
elif today == 'Monday':
    print("Today is monday I have to study OS")
elif today == 'Tuesday':
    print("Today is tuesday I have to study programming and DSA")
elif today == 'Wednesday':
    print("Today is wednesday I have to study TOC and attempt test ")
elif today == 'Thursday':
    print("Today is thursday I have to learn python for data analytics")
elif today == 'Friday':
    print("Today is Friday I have to wrap up with Linear algebra")
elif today == 'Saturday':
    print("Today is saturday write all subjects weekly test for GATE I covered in this week")

Today is wednesday I have to study TOC and attempt test

In the above example, the first 3 conditions evaluate to `False`, so none of the first 3 messages are printed. The fourth condition evaluates to `True`, so the corresponding message is printed. The remaining conditions are skipped. Try changing the value of `today` above and re-executing the cells to print all the different messages.


To verify that the remaining conditions are skipped, let us try another example.

In [13]:
a_number = 15

In [14]:
if a_number % 2 == 0:
    print("{} is divisible by 2 ".format(a_number))
elif a_number % 3 ==0:
    print("{} is divisible by 3".format(a_number))
elif a_number % 5 == 0:
    print("{} is divisible by 5".format(a_number))
elif a_number % 7 == 0:
    print("{} is divisible by 7".format(a_number))

15 is divisible by 3

Note that the message `15 is divisible by 5` is not printed because the condition `a_number % 5 == 0` isn't evaluated, since the previous condition `a_number % 3 == 0` evaluates to `True`. This is the key difference between using a chain of `if`, `elif`, `elif`... statements vs. a chain of `if` statements, where each condition is evaluated independently.

In [15]:
if a_number % 2 == 0:
    print("{} is divisible by 2 ".format(a_number))
if a_number % 3 ==0:
    print("{} is divisible by 3".format(a_number))
if a_number % 5 == 0:
    print("{} is divisible by 5".format(a_number))
if a_number % 7 == 0:
    print("{} is divisible by 7".format(a_number))

15 is divisible by 3
15 is divisible by 5

### Using `if`, `elif`, and `else` together

You can also include an `else` statement at the end of a chain of `if`, `elif`... statements. This code within the `else` block is evaluated when none of the conditions hold true.

In [16]:
a_number = 49

In [17]:
if a_number % 2 == 0:
    print("{} is divisible by 2".format(a_number))
elif a_number % 3 == 0:
    print("{} is divisible by 3".format(a_number))
elif a_number % 5 == 0:
    print("{} is divisible by 5" .format(a_number))

# If all conditionals failed 
else:
    print("All checks failed!")
    print("{} is not divisible by 2 , 3 or 5".format(a_number))

All checks failed!
49 is not divisible by 2 , 3 or 5

Conditions can also be combined using the logical operators `and`, `or` and `not`.

In [18]:
a_number = 12

In [19]:
if a_number % 3 == 0 and a_number % 5 == 0:
    print("The number {} is divisible by 3 and 5".format(a_number))
elif not a_number % 5 == 0:
    print("The number {} is not divisible by 5".format(a_number))

The number 12 is not divisible by 5

### Non-Boolean Conditions

Note that conditions do not necessarily have to be booleans. In fact, a condition can be any value. The value is converted into a boolean automatically using the `bool` operator. This means that falsy values like `0`, `''`, `{}`, `[]`, etc. evaluate to `False` and all other values evaluate to `True`.

In [20]:
if '':
    print("The condition is evaluated to true")
else:
    print("The condition evaluated to Falsse")

The condition evaluated to Falsse

In [21]:
if 'Hello':
    print('The condition is evaluated to True')
else:
    print('The condition is evaluated to false')

The condition is evaluated to True

In [22]:
if {'a' : 34}:
    print('The condition evaluated to True')
else:
    print('The condition is evaluated to False')

The condition evaluated to True

### Nested conditional statements

The code inside an `if` block can also include an `if` statement inside it. This pattern is called `nesting` and is used to check for another condition after a particular condition holds true.

In [23]:
a_number = 15

In [24]:

if a_number % 2 == 0:
    print("{} is even .".format(a_number))
    if a_number % 3 == 0:
        print("{} is a lso divisible by 3 ".format(a_number))
else:
    print("{} is odd .".format(a_number))
    if a_number % 5 == 0:
        print("{} is also divisible by 5".format(a_number))
    else:
        print("{} is not divisible by 5".format(a_number))

15 is odd .
15 is also divisible by 5

Notice how the `print` statements are indented by 8 spaces to indicate that they are part of the inner `if`/`else` blocks.

> Nested `if`, `else` statements are often confusing to read and prone to human error. It's good to avoid nesting whenever possible, or limit the nesting to 1 or 2 levels.

### Shorthand `if` conditional expression

A frequent use case of the `if` statement involves testing a condition and setting a variable's value based on the condition.

a_number = 13

if a_number % 2 == 0:
    parity = 'even'
else:
    parity = 'odd'

print('The number {} is {}'.format(a_number,parity))

Python provides a shorter syntax, which allows writing such conditions in a single line of code. It is known as a *conditional expression*, sometimes also referred to as a *ternary operator*. It has the following syntax:

```
x = true_value if condition else false_value
```

It has the same behavior as the following `if`-`else` block:

```
if condition:
    x = true_value
else:
    x = false_value
```

Let's try it out for the example above.

In [25]:
a_number

15

In [26]:
parity = 'even' if a_number % 2 == 0 else 'odd'

In [27]:
print('The number {} is {} '.format(a_number,parity))

The number 15 is odd

### Statements and Expressions

The conditional expression highlights an essential distinction between *statements* and *expressions* in Python. 

> **Statements**: A statement is an instruction that can be executed. Every line of code we have written so far is a statement e.g. assigning a variable, calling a function, conditional statements using `if`, `else`, and `elif`, loops using `for` and `while` etc.

> **Expressions**: An expression is some code that evaluates to a value. Examples include values of different data types, arithmetic expressions, conditions, variables, function calls, conditional expressions, etc. 


Most expressions can be executed as statements, but not all statements are expressions. For example, the regular `if` statement is not an expression since it does not evaluate to a value. It merely performs some branching in the code. Similarly, loops and function definitions are not expressions (we'll learn more about these in later sections).

As a rule of thumb, an expression is anything that can appear on the right side of the assignment operator `=`. You can use this as a test for checking whether something is an expression or not. You'll get a syntax error if you try to assign something that is not an expression.

In [28]:
# if statement
result = if a_number % 2 == 0:
    'even'
else:
    'odd'

SyntaxError: invalid syntax (2122321328.py, line 2)

In [ ]:
# if expression 
result = 'even' if a_number % 2 == 0 else 'odd'

### The `pass` statement

`if` statements cannot be empty, there must be at least one statement in every `if` and `elif` block. You can use the `pass` statement to do nothing and avoid getting an error.

In [ ]:
a_number = 9

In [ ]:
if a_number % 2 == 0:
elif a_number % 3 == 0:
    print('{} is dividible by 3 but not divisible by 2')

In [ ]:
# To avoid this error we use pass statement insted of leaving a block empty

if a_number % 2 == 0:
    pass
elif a_number % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2'.format(a_number))

## Iteration with `while` loops

Another powerful feature of programming languages, closely related to branching, is running one or more statements multiple times. This feature is often referred to as *iteration* on *looping*, and there are two ways to do this in Python: using `while` loops and `for` loops. 

`while` loops have the following syntax:

```
while condition:
    statement(s)
```

Statements in the code block under `while` are executed repeatedly as long as the `condition` evaluates to `True`. Generally, one of the statements under `while` makes some change to a variable that causes the condition to evaluate to `False` after a certain number of iterations.

Let's try to calculate the factorial of `100` using a `while` loop. The factorial of a number `n` is the product (multiplication) of all the numbers from `1` to `n`, i.e., `1*2*3*...*(n-2)*(n-1)*n`.

In [ ]:
result = 1
i=1

while i<=100:            # Checks wether value of i is less than or equal to 100(Stops when i is grater than 100)
    result = result * i  #Miltiplies result=1* i=1
    i=i+1                #Increments i to one number

print('The factorial of 100 {}'.format(result))

Here's how the above code works:

* We initialize two variables, `result` and, `i`. `result` will contain the final outcome. And `i` is used to keep track of the next number to be multiplied with `result`. Both are initialized to 1 (can you explain why?)

* The condition `i <= 100` holds true (since `i` is initially `1`), so the `while` block is executed.

* The `result` is updated to `result * i`, `i` is increased by `1` and it now has the value `2`.

* At this point, the condition `i <= 100` is evaluated again. Since it continues to hold true, `result` is again updated to `result * i`, and `i` is increased to `3`.

* This process is repeated till the condition becomes false, which happens when `i` holds the value `101`. Once the condition evaluates to `False`, the execution of the loop ends, and the `print` statement below it is executed. 

Can you see why `result` contains the value of the factorial of 100 at the end? If not, try adding `print` statements inside the `while` block to print `result` and `i` in each iteration.


> Iteration is a powerful technique because it gives computers a massive advantage over human beings in performing thousands or even millions of repetitive operations really fast. With just 4-5 lines of code, we were able to multiply 100 numbers almost instantly. The same code can be used to multiply a thousand numbers (just change the condition to `i <= 1000`) in a few seconds.

You can check how long a cell takes to execute by adding the *magic* command `%%time` at the top of a cell. Try checking how long it takes to compute the factorial of `100`, `1000`, `10000`, `100000`, etc.

In [ ]:
%%time

result = 1
i = 1
while i <= 100:
    result *= i #same as result = result * i
    i += 1 # same as i = i + 1

print(result)

Here's another example that uses two `while` loops to create an interesting pattern.

In [ ]:
i = 1
length = 6

while i <= length:
    print('*' * i + ' '*(length - i))
    i += 1

i = length - 1
while i >= 0:
    print('*' * i + ' '*(length - i))
    i-=1

Can you see how the above example works? As an exercise, try printing the following pattern using a while loop (Hint: use string concatenation):

```
          *
         **
        ***
       ****
      *****
     ******
      *****
       ****
        ***
         **
          *
```

Here's another one, putting the two together:


```
          *
         ***
        *****
       *******
      *********
     ***********
      *********
       *******
        *****
         ***
          *
```

In [ ]:
i = 1
length = 6

while i <= length:
    print(' ' * (length - i) + '*' * (2*i - 1))
    i += 1

i = length - 1
while i > 0:
    print(' '* (length - i) + '*' * (2*i - 1))
    i-=1

In [ ]:
i = 1
length = 6
while i <= length:
    print(' '*(length - i) + '*' * i)
    i+=1

i = length - 1
while i >= 0:
    print(' '*(length - i) + '*' * i)
    i-=1

### Infinite Loops

Suppose the condition in a `while` loop always holds true. In that case, Python repeatedly executes the code within the loop forever, and the execution of the code never completes. This situation is called an infinite loop. It generally indicates that you've made a mistake in your code. For example, you may have provided the wrong condition or forgotten to update a variable within the loop, eventually falsifying the condition.

If your code is *stuck* in an infinite loop during execution, just press the "Stop" button on the toolbar (next to "Run") or select "Kernel > Interrupt" from the menu bar. This will *interrupt* the execution of the code. The following two cells both lead to infinite loops and need to be interrupted.

In [ ]:
#INFINITE LOOP - INTERRUPT THIS CELL

result = 1
i = 1 

while i <= 100:
    result = result * i
    #Didnot increment

In [ ]:
# INFINITE LOOP - INTERRUPT THIS CELL

result = 1
i = 1

while i > 0 : # wrong condition
    result *= i
    i += 1

### `break` and `continue` statements

You can use the `break` statement within the loop's body to immediately stop the execution and *break* out of the loop (even if the condition provided to `while` still holds true).

In [29]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print("Magic number 42 reached ! stopped execution")
        break
    i+=1

print('i = ',i)
print("Result = ",result)

Magic number 42 reached ! stopped execution
i =  42
Result =  1405006117752879898543142606244511569936384000000000

## Iteration with `for` loops

A `for` loop is used for iterating or looping over sequences, i.e., lists, tuples, dictionaries, strings, and *ranges*. For loops have the following syntax:

```
for value in sequence:
    statement(s)
```

The statements within the loop are executed once for each element in `sequence`. Here's an example that prints all the element of a list.

In [30]:
days = ['Monday' , 'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

Let's try using `for` loops with some other data types.

In [31]:
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [32]:
#looping over a tuple

for fruit in ('Apple' , 'Banana' , 'Guava'):
    print("Here is a fruit:" , fruit)

Here is a fruit: Apple
Here is a fruit: Banana
Here is a fruit: Guava

In [33]:
#looping over a dictionary

person = {
    'name' : 'John Doe',
    'sex' : 'Male' ,
    'age' : 32 ,
    'Married' : True
}

for key in person:
    print("Key:" , key,"," , "Value:" ,person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: Married , Value: True

Note that while using a dictionary with a `for` loop, the iteration happens over the dictionary's keys. The key can be used within the loop to access the value. You can also iterate directly over the values using the `.values` method or over key-value pairs using the `.items` method.

In [35]:
for value in person.values():
    print(value)

John Doe
Male
32
True

In [36]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('Married', True)

Since a key-value pair is a tuple, we can also extract the key & value into separate variables.

In [37]:
for key, value in person.items():
    print("Key :",key ,"," ,"Value:",value)

Key : name , Value: John Doe
Key : sex , Value: Male
Key : age , Value: 32
Key : Married , Value: True

### Iterating using `range` and `enumerate`

The `range` function is used to create a sequence of numbers that can be iterated over using a `for` loop. It can be used in 3 ways:
 
* `range(n)` - Creates a sequence of numbers from `0` to `n-1`
* `range(a, b)` - Creates a sequence of numbers from `a` to `b-1`
* `range(a, b, step)` - Creates a sequence of numbers from `a` to `b-1` with increments of `step`

Let's try it out.

In [38]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [39]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [40]:
for i in range(3,14,4):
    print(i)

3
7
11

Ranges are used for iterating over lists when you need to track the index of elements while iterating.

In [41]:
a_list = ['Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i , a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

Another way to achieve the same result is by using the `enumerate` function with `a_list` as an input, which returns a tuple containing the index and the corresponding element.

In [42]:
for i ,val in enumerate(a_list):
    print('The value at position {} is {} .'.format(i,val))

The value at position 0 is Monday .
The value at position 1 is Tuesday .
The value at position 2 is Wednesday .
The value at position 3 is Thursday .
The value at position 4 is Friday .

### `break`, `continue` and `pass` statements

Similar to `while` loops, `for` loops also support the `break` and `continue` statements. `break` is used for breaking out of the loop and `continue` is used for skipping ahead to the next iteration.

In [43]:
weekdays = ['Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday']

In [44]:
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [45]:
for day in weekdays:
    if(day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

Like `if` statements, `for` loops cannot be empty, so you can use a `pass` statement if you don't want to execute any statements inside the loop.

In [46]:
for day in weekdays:
    pass

### Nested `for` and `while` loops

Similar to conditional statements, loops can be nested inside other loops. This is useful for looping lists of lists, dictionaries etc.

In [47]:
persons = [{'name':'John', 'sex':'Male'},{'name':'Jane','sex':'Female'}]

for person in persons:
    for key in person:
        print(key , ":" ,person[key])
    print(" ")

name : John
sex : Male

name : Jane
sex : Female

In [49]:
days = ['Monday', 'Tuesday' , 'Wednesday']
fruits = ['apple' ,'banana' , 'Guava']

for day in days:
    for fruit in fruits:
        print(day,fruit)

Monday apple
Monday banana
Monday Guava
Tuesday apple
Tuesday banana
Tuesday Guava
Wednesday apple
Wednesday banana
Wednesday Guava

## END