In [22]:
#Chapter 2--Variables and datatypes

In [23]:
my_favorite_color="blue"

In [24]:
my_favorite_color

'blue'

###
A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator = followed by the value to be stored within the variable. Note that the assignment operator = is different from the equality comparison operator ==.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [25]:
color1,color2,color3="red","green","blue"

In [26]:
color1

'red'

In [27]:
color2

'green'

In [28]:
color3

'blue'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [29]:
color4=color5=color6="Magenta"

In [30]:
color4

'Magenta'

In [31]:
color5

'Magenta'

In [32]:
color6

'Magenta'

You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [33]:
my_favorite_color="red"

In [34]:
my_favorite_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [35]:
counter=10

In [36]:
counter=counter+1

In [37]:
counter

11

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [38]:
counter=10

In [39]:
counter+=4   #Just like counter=counter+4

In [40]:
counter

14

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [41]:
a_variable = 23
is_today_saturday = False
my_favorite_car = "Mercedes"
the_3_musketeers = ["Athos" ,"Porthos" ,"Aramis"]

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [42]:
a variable=23

SyntaxError: invalid syntax (3435034236.py, line 1)

In [43]:
is_today_$aturday=False

SyntaxError: invalid syntax (4115463781.py, line 1)

In [44]:
my-favorite-car="Deloran"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1798234066.py, line 1)

In [45]:
3_muskteers=["Athos" ,"Porthos" ,"Aramis"]

SyntaxError: invalid decimal literal (1550770998.py, line 1)

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [46]:
a_variable

23

In [47]:
type(a_variable)

int

In [48]:
is_today_saturday

False

In [49]:
type(is_today_saturday)

bool

In [50]:
my_favorite_car

'Mercedes'

In [51]:
type(my_favorite_car)

str

In [52]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [53]:
type(the_3_musketeers)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [54]:
current_year=2020

In [55]:
current_year

2020

In [56]:
type(current_year)

int

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [57]:
a_large_negative_number=-234342523532532532532523532532532532

In [58]:
a_large_negative_number

-234342523532532532532523532532532532

In [59]:
type(a_large_negative_number)

int

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [60]:
pi=3.145926535893238

In [61]:
pi

3.145926535893238

In [62]:
type(pi)

float

Note that a whole number is treated as a float if written with a decimal point, even though the decimal portion of the number is zero.

In [63]:
a_number=3.0

In [64]:
type(a_number)

float

In [65]:
another_number=4.

In [66]:
another_number

4.0

In [67]:
type(another_number)

float

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [68]:
one_hundredth=1e-2

In [69]:
one_hundredth

0.01

In [70]:
type(one_hundredth)

float

In [71]:
avagadro_number=6.0221406e23

In [72]:
avagadro_number

6.0221406e+23

In [73]:
type(avagadro_number)

float

You can convert floats into integers and vice versa using the `float` and `int` functions. The operation of converting one type of value into another is called casting.

In [74]:
float(current_year)

2020.0

In [75]:
float(a_large_negative_number)

-2.343425235325325e+35

In [76]:
int(pi)

3

In [77]:
int(avagadro_number)

602214059999999993839616

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [78]:
type(45*3.0)

float

In [79]:
type(45*3)

int

In [80]:
type(10/3)

float

In [81]:
type(10/2)

float

In [82]:
type(10//2)

int

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [83]:
is_today_sunday=True

In [84]:
is_today_sunday

True

In [85]:
type(is_today_sunday)

bool

Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [87]:
cost_of_ice_bag=1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [88]:
is_ice_bag_expensive

False

In [89]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [90]:
5+False

5

In [92]:
3. + True

4.0

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [93]:
bool(False)

False

In [94]:
bool(0)

False

In [95]:
bool(0.0)

False

In [97]:
bool(None)

False

In [98]:
bool("")

False

In [99]:
bool([])

False

In [100]:
bool(())

False

In [101]:
bool({})

False

In [102]:
bool(set())

False

In [103]:
bool(range(0))

False

In [104]:
bool(True),bool(1),bool(2.0),bool("Hello"),bool([1,2]),bool((2,3)),bool(range(10))

(True, True, True, True, True, True, True)

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [105]:
nothing = None

In [106]:
type(nothing)

NoneType

In [ ]:
SSSS