In [1]:
#Chapter 2--Variables and datatypes

In [2]:
my_favorite_color="blue"

In [3]:
my_favorite_color

'blue'

###
A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator = followed by the value to be stored within the variable. Note that the assignment operator = is different from the equality comparison operator ==.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [4]:
color1,color2,color3="red","green","blue"

In [5]:
color1

'red'

In [6]:
color2

'green'

In [7]:
color3

'blue'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [8]:
color4=color5=color6="Magenta"

In [9]:
color4

'Magenta'

In [10]:
color5

'Magenta'

In [11]:
color6

'Magenta'

You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [12]:
my_favorite_color="red"

In [13]:
my_favorite_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [14]:
counter=10

In [15]:
counter=counter+1

In [16]:
counter

11

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [17]:
counter=10

In [18]:
counter+=4   #Just like counter=counter+4

In [19]:
counter

14

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [20]:
a_variable = 23
is_today_saturday = False
my_favorite_car = "Mercedes"
the_3_musketeers = ["Athos" ,"Porthos" ,"Aramis"]

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [21]:
a variable=23

SyntaxError: invalid syntax (3435034236.py, line 1)

In [22]:
is_today_$aturday=False

SyntaxError: invalid syntax (4115463781.py, line 1)

In [23]:
my-favorite-car="Deloran"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1798234066.py, line 1)

In [24]:
3_muskteers=["Athos" ,"Porthos" ,"Aramis"]

SyntaxError: invalid decimal literal (1550770998.py, line 1)

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [25]:
a_variable

23

In [26]:
type(a_variable)

int

In [27]:
is_today_saturday

False

In [28]:
type(is_today_saturday)

bool

In [29]:
my_favorite_car

'Mercedes'

In [30]:
type(my_favorite_car)

str

In [31]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [32]:
type(the_3_musketeers)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [33]:
current_year=2020

In [34]:
current_year

2020

In [35]:
type(current_year)

int

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [36]:
a_large_negative_number=-234342523532532532532523532532532532

In [37]:
a_large_negative_number

-234342523532532532532523532532532532

In [38]:
type(a_large_negative_number)

int

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [39]:
pi=3.145926535893238

In [40]:
pi

3.145926535893238

In [41]:
type(pi)

float

Note that a whole number is treated as a float if written with a decimal point, even though the decimal portion of the number is zero.

In [42]:
a_number=3.0

In [43]:
type(a_number)

float

In [127]:
another_number=4.

In [128]:
another_number

4.0

In [129]:
type(another_number)

float

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [130]:
one_hundredth=1e-2

In [131]:
one_hundredth

0.01

In [132]:
type(one_hundredth)

float

In [133]:
avagadro_number=6.0221406e23

In [134]:
avagadro_number

6.0221406e+23

In [135]:
type(avagadro_number)

float

You can convert floats into integers and vice versa using the `float` and `int` functions. The operation of converting one type of value into another is called casting.

In [136]:
float(current_year)

2020.0

In [137]:
float(a_large_negative_number)

-2.343425235325325e+35

In [138]:
int(pi)

3

In [139]:
int(avagadro_number)

602214059999999993839616

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [140]:
type(45*3.0)

float

In [141]:
type(45*3)

int

In [142]:
type(10/3)

float

In [143]:
type(10/2)

float

In [144]:
type(10//2)

int

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [145]:
is_today_sunday=True

In [146]:
is_today_sunday

True

In [147]:
type(is_today_sunday)

bool

Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [148]:
cost_of_ice_bag=1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [149]:
is_ice_bag_expensive

False

In [150]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [151]:
5+False

5

In [152]:
3. + True

4.0

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [153]:
bool(False)

False

In [154]:
bool(0)

False

In [155]:
bool(0.0)

False

In [156]:
bool(None)

False

In [157]:
bool("")

False

In [158]:
bool([])

False

In [159]:
bool(())

False

In [160]:
bool({})

False

In [161]:
bool(set())

False

In [162]:
bool(range(0))

False

In [163]:
bool(True),bool(1),bool(2.0),bool("Hello"),bool([1,2]),bool((2,3)),bool(range(10))

(True, True, True, True, True, True, True)

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [164]:
nothing = None

In [165]:
type(nothing)

NoneType

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [166]:
today="Saturday"

In [167]:
today

'Saturday'

You can use single quotes inside a string written with double quotes, and vice versa.

In [168]:
my_favorite_movie="One flew over the Cuckoo Nest"

In [169]:
my_favorite_movie

'One flew over the Cuckoo Nest'

In [170]:
my_favorite_pun='Thanks for explaining the word "many" to me ,it means a lot.'

In [171]:
my_favorite_pun

'Thanks for explaining the word "many" to me ,it means a lot.'

To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [172]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [173]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [174]:
yet_another_pun='''Son : "Dad ,can you tell me what a solar eclipse is?"
Dad : "No sun ."'''

In [175]:
yet_another_pun

'Son : "Dad ,can you tell me what a solar eclipse is?"\nDad : "No sun ."'

Multiline strings are best displayed using the `print` function.

In [176]:
print(yet_another_pun)

Son : "Dad ,can you tell me what a solar eclipse is?"
Dad : "No sun ."

In [177]:
a_music_pun = """
Two windmills are standing in a field and one asks the other ,
"What kind of music do you like ?"

The other says ,
"I'm a big metal fan."
"""

In [178]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other ,
"What kind of music do you like ?"

The other says ,
"I'm a big metal fan."

You can ceck the length of the string using 'len' function

In [179]:
len(my_favorite_movie)

29

Note that special characters like `\n` and escaped characters like `\"` count as a single character, even though they are written and sometimes printed as two characters.

In [180]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [181]:
len(multiline_string)

3

A string can be converted into a list of characters using `list` function.

In [182]:
list(multiline_string)

['a', '\n', 'b']

Strings also support several list operations, which are discussed in the next section. We'll look at a couple of examples here.

You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [183]:
today = "Saturday"

In [184]:
today[0]

'S'

In [185]:
today[3]

'u'

In [186]:
today[7]

'y'

In [187]:
today[5]

'd'

You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.

In [188]:
today[5:8]

'day'

In [189]:
'day' in today

True

In [190]:
'Sun' in today

False

Two or more strings can be joined or *concatenated* using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [191]:
full_name = "derek O 'Brien"

In [192]:
greeting = "Hello"

In [193]:
greeting + full_name

"Helloderek O 'Brien"

In [194]:
greeting + " " + full_name + "!" #additional space for a well defined sentence

"Hello derek O 'Brien!"

Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [195]:
today.lower()

'saturday'

In [196]:
today.upper()

'SATURDAY'

In [197]:
"monday" .capitalize() # Changes the first charecter to uppercase

'Monday'

The `.replace` method replaces a part of the string with another string. It takes the portion to be replaced and the replacement text as *inputs* or *arguments*.

In [198]:
another_day = today.replace("Satur" ,"Wednes")

In [199]:
another_day

'Wednesday'

Note that `replace` returns a new string, and the original string is not modified.

today

The `.split` method splits a string into a list of strings at every occurrence of provided character(s).

In [200]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

The `.strip` method removes whitespace characters from the beginning and end of a string.

In [201]:
a_long_line = "                 This is a long line with some space before , after,            and some apace in the middle ..           "

In [202]:
a_long_line_stripped = a_long_line.strip()

In [203]:
a_long_line_stripped

'This is a long line with some space before , after,            and some apace in the middle ..'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [204]:
#Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

#Template for output message
output_template = """If grocery store sells ice bags at $ {} per bag ,with a profit margin of {}% ,
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If grocery store sells ice bags at $ {} per bag ,with a profit margin of {}% ,
then the total profit it makes by selling {} ice bags is $ {}.

In [205]:
#Inserting the values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100 ,number_of_bags, total_profit)

print(output_message)

If grocery store sells ice bags at $ 1.25 per bag ,with a profit margin of 20.0% ,
then the total profit it makes by selling 500 ice bags is $ 125.0.

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible to use the string concatenation operator `+` to combine strings with other values. However, those values must first be converted to strings using the `str` function.

In [206]:
"If a grocery store sells ice bags at $ "+ cost_of_ice_bag + ",with a profit margin of " + profit_margin

TypeError: can only concatenate str (not "float") to str

In [207]:
#Instead convert the integer or a dloating point number into a string
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ",with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25,with a profit margin of 0.2'

You can `str` to convert a value of any data type into a string.

### List

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

In [208]:
fruits = ['apple' , 'banana' ,'cherry']

In [209]:
fruits

['apple', 'banana', 'cherry']

In [210]:
type(fruits)

list

In [211]:
a_list = [23 , 'hello' ,None , 3.14 ,fruits, 3 <= 5]

In [212]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [213]:
empty_list = []

In [214]:
empty_list

[]

To determine the number of values in a list, use the `len` function. You can use `len`  to determine the number of values in several other data types.len(fruits)

In [216]:
len(fruits)

3

In [217]:
print("Number of fruits :" ,len(fruits))

Number of fruits : 3

In [218]:
len(a_list)

6

In [219]:
len(empty_list)

0

You can access an element from the list using its *index*, e.g., `fruits[2]` returns the element at index 2 within the list `fruits`. The starting index of a list is 0.

In [220]:
fruits[0]

'apple'

In [221]:
fruits[2]

'cherry'

In [222]:
fruits[3]

IndexError: list index out of range

In [223]:
fruits[4]

IndexError: list index out of range

You can use negative indices to access elements from the end of a list, e.g., `fruits[-1]` returns the last element, `fruits[-2]` returns the second last element, and so on.

In [224]:
fruits[-1]

'cherry'

In [225]:
fruits[-2]

'banana'

In [226]:
fruits[-3]

'apple'

In [227]:
fruits[-4]

IndexError: list index out of range

You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [228]:
a_list=[23,'hello',None,3.14,fruits ,3<=5]

In [229]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [230]:
len(a_list)

6

In [231]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

Note that the range `2:5` includes the element at the start index `2` but does not include the element at the end index `5`. So, the result has 3 values (index `2`, `3`, and `4`).

Here are some experiments you should try out (use the empty cells below):

* Try setting one or both indices of the range are larger than the size of the list, e.g., `a_list[2:10]`
* Try setting the start index of the range to be larger than the end index, e.g., `list_a[2:10]`
* Try leaving out the start or end index of a range, e.g., `a_list[2:]` or `a_list[:5]`
* Try using negative indices for the range, e.g., `a_list[-2:-5]` or `a_list[-5:-2]` (can you explain the results?)

> The flexible and interactive nature of Jupyter notebooks makes them an excellent tool for learning and experimentation. If you are new to Python, you can resolve most questions as soon as they arise simply by typing the code into a cell and executing it. Let your curiosity run wild, discover what Python is capable of and what it isn't!

In [232]:
fruits

['apple', 'banana', 'cherry']

In [233]:
fruits[1]='strawberry'

In [234]:
fruits

['apple', 'strawberry', 'cherry']

In [235]:
fruits.append('dates')

In [236]:
fruits

['apple', 'strawberry', 'cherry', 'dates']

In [237]:
fruits.insert(1,'banana')

In [238]:
fruits

['apple', 'banana', 'strawberry', 'cherry', 'dates']

In [240]:
fruits.insert(0,'Mango')

In [241]:
fruits

['Mango', 'apple', 'banana', 'strawberry', 'cherry', 'dates']

You can remove a value from a list using the `remove` method.

In [243]:
fruits.remove('Mango')

In [244]:
fruits

['apple', 'banana', 'strawberry', 'cherry', 'dates']

In [247]:
fruits.remove('cherry')

In [248]:
fruits

['apple', 'banana', 'strawberry', 'dates']

In [249]:
fruits.pop(3)

'dates'

In [250]:
fruits

['apple', 'banana', 'strawberry']

In [252]:
fruits.pop()

'strawberry'

fruits.pop()

In [253]:
fruits

['apple', 'banana']

In [254]:
fruits.append('Pineapple')

In [255]:
fruits.insert(3,'Custard apple')

In [256]:
fruits

['apple', 'banana', 'Pineapple', 'Custard apple']

You can test whether a list contains a value using the `in` operator.

In [258]:
'Pineapple' in fruits

True

In [259]:
'Mango' in fruits

False

To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.

In [260]:
fruits

['apple', 'banana', 'Pineapple', 'Custard apple']

In [261]:
more_fruits = fruits + ['Mango' , 'Tomato' ,'guava'] + ['Watermelon', 'Papaya']

In [262]:
more_fruits

['apple',
 'banana',
 'Pineapple',
 'Custard apple',
 'Mango',
 'Tomato',
 'guava',
 'Watermelon',
 'Papaya']

In [271]:
more_fruits_copy = more_fruits.copy()

In [272]:
more_fruits_copy

['apple',
 'banana',
 'Pineapple',
 'Custard apple',
 'Mango',
 'Tomato',
 'guava',
 'Watermelon',
 'Papaya']

In [273]:
#We can also modify the copy and the original list remains unchanged

more_fruits_copy.remove('Pineapple')   #This removes pineapple from the list
more_fruits_copy.pop()                 #This removes Papaya from the list
more_fruits_copy

['apple', 'banana', 'Custard apple', 'Mango', 'Tomato', 'guava', 'Watermelon']

In [274]:
#Original more_fruits list remains unchanged

more_fruits

['apple',
 'banana',
 'Pineapple',
 'Custard apple',
 'Mango',
 'Tomato',
 'guava',
 'Watermelon',
 'Papaya']

### Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [275]:
fruits = ('apple' ,'cherry' ,'dates')

In [276]:
#check no. of elements
len(fruits)

3

In [277]:
#get an element positive index
fruits[0]

'apple'

In [278]:
#get an element negative index
fruits[-2]

'cherry'

In [279]:
#check if a tuple contains a following element
'dates' in fruits

True

In [280]:
#try to change an element
fruits[0]='Avacado'

TypeError: 'tuple' object does not support item assignment

In [281]:
#try to append an element 
fruits.append('Strawberry')

AttributeError: 'tuple' object has no attribute 'append'

In [285]:
#try to remove an element from a tuple
fruits.remove('dates')

AttributeError: 'tuple' object has no attribute 'remove'

You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma-separated values into a tuple.

In [286]:
the_3_muskteers = 'Athos' ,'Porthos' ,'Aramis'

In [287]:
the_3_muskteers

('Athos', 'Porthos', 'Aramis')

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.

In [294]:
single_element_tuple = 4,

In [299]:
single_element_tuple

(4,)

In [300]:
another_single_element_tuple = (4,)

In [301]:
another_single_element_tuple

(4,)

In [302]:
not_a_tuple =(4)

In [303]:
not_a_tuple

4